/* This project was written alongisde CoderCoder youtuber */
/* She uses the chrome console to test things out before adding to her actual code */

/* This is how CSS styles can be set up without using Sass */
:root {
   --text-blue: hsl(238, 29%, 16%);
   --text-dkblue: hsl(240, 6%, 50%);
   --text-xdrkblue: hsl(237, 12%, 33%);
   --text-red: hsl (14, 88%, 65%);
   --gradient-violet: hsl(273, 75%, 66%);
   --gradient-blue: hsl(240, 73%, 65%);
   --divider-blue: hsl(240, 5%, 91%);
}

html {
   box-sizing: border-box;
   font-size: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   min-height: 100vh;
   margin: 0;
   padding: 10rem 1rem;
   font-family: 'Kumbh Sans', sans-serif;
   background-image: linear-gradient(var(--gradient-violet),
         var(--gradient-blue));
   color: var(--text-blue);
}

.card {
   background: white;
   border-radius: 2rem;
   max-width: 56rem;
   background-image: url(images/bg-pattern-mobile.svg);
   background-repeat: no-repeat;
   background-position: center 0%;
   background-size: 15rem;
   padding: 2.875rem 1.5rem;
}

h1,
h2,
h3 {
   margin-top: 0;
}

.card__box {
   display: none;
}

.card_image img {
   width: 100%;
   height: auto;
   max-width: 15rem;
   display: block;
   position: absolute;
   top: -9.8rem;
   left: 50%;
   transform: translateX(-50%);
}

.card_image {
   position: relative;
}

.card_text {
   padding-top: 7rem;
}

.accordion__item {
   border-bottom: 1px solid var(--divider-blue);
   padding-top: 1rem;
}

.accordion__item h2 {
margin-bottom: 0;
}
.accordion__question {
   border: none;
   background: transparent;
   padding: 0;
   font-size: 0.875rem;
   font-family: 'Kumbh Sans', sans-serif;
   margin-bottom:1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-size: contain;
   width: 100%;
   text-align: left;
}

.accordion__question.open {
   font-weight: bold;
}

/* go back to 1h20 min to look into this part */
.accordion__question::after {
   content: "";
   display: block;
   width: 0.625rem;
   height: 1rem;
   background-image: url(images/icon-arrow-down.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;

}

.accordion__content {
   font-size: 0.75rem;
   line-height: 1.4;
   margin-bottom: 1rem;
}
/* desktop */


@media (min-width: 56em) {

   .card {
      position: relative;
      display: flex;
      margin: 0 auto;
      background-image: url('images/bg-pattern-desktop.svg');
      background-size: 45%;
      background-position: -13% center;
      padding: 4.375rem 6.25rem 4.375rem 0rem;
   }

   /* check out how display block is used and what it does */
   .card__box {
      display: block;
      position: absolute;
      top: 57%;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
   }

   .card_image,
   .card_text {
      flex: 1
   }

   .card_text{
      margin: auto;
      padding: 0;
   }

   .card_image {
      display: flex;
      align-items: center;
      overflow: hidden;
   }

   .card_image img {
    transform: translate(-4rem);
      max-width: 25rem;
      top: auto;
      left: auto;
      position: relative;
   }
}